# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Turing.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Install\Study\algorithms\Algorithms-BSU\Data\Turing\.idea\.idea.Turing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
